{
  "trailingComma": "all",
  "printWidth": 120,
  "singleQuote": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}